vagrant/.vagrant
apps/Server/WebApplication/obj
apps/Server/WebApplication/bin/Debug
Server.userprefs
apps/Server/WebApplication.tests/obj
ubuntu-xenial-16.04-cloudimg-console.log
apps/Server/WebApplication.tests/bin
apps/Server/publish
apps/Server/WebApplication/bin
